@import "../../../node_modules/bootstrap/scss/bootstrap";

// Your variable overrides
$body-color:#1e272e;
$box-example-color: #ffdd59;
$background-color-transparent: #ff68b400;
$nav-color: #485460;
$customer-color: #05c46b;
$thick-color: #34e7e4;
